
<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Alışveris Sepeti</h2>
            <hr />
            <table class="table table-bordered">
                <thead>
                   <tr>
                        <th>resim</th>
                        <th>adet</th>
                        <th>adı</th>
                        <th>fiyatı</th>
                        <th>toplam fiyat</th>
                   </tr> 
                </thead>
                <tbody>
                    @foreach (var item in Model.BasketLines)
                    {
                        <tr>
                             <th>@item.product.image</th>
                             <th>@item.adet</th>
                             <th></th>
                             <th>fiyatı</th>
                             <th>toplam fiyat</th>
                        </tr> 
                    }
                    

                    
                </tbody>
            </table>
        </div>
    </div>









</div>