@model IEnumerable<Product>;

<div class="row">
@foreach(var urun in Model)
    {
       
        <div class="col-3">
            <div class="card" >
            <img src="~/img/@urun.image" class="card-img-top" alt="">
            <div class="card-body">
            <p class="card-title">@urun.Title</p>
            <p class="card-title">@urun.price</p>
            
            
            <a href="#" class="btn btn-outline-primary">Details</a>
            
            @using (Html.BeginForm("SepeteEkle","Basket"))
            {
                @Html.HiddenFor(i=>i.Id)
                 <buton type="submit" class="btn btn-outline-primary">Sepete Ekle</buton>

            }
           
             </div>
            </div>
        </div>
        
    }
</div>
