<!DOCTYPE html>
<html>
<title>document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item"></h3>
  <h3 class="w3-bar-item"></h3>
  
  <a href="#" class="w3-bar-item w3-button">Giriş Yap</a>
  <a href="#" class="w3-bar-item w3-button">Kayıt ol</a>
  <h3 class="w3-bar-item"></h3>
  <a href="/product" class="w3-bar-item w3-button">Ana Sayfa</a>
  <a href="#" class="w3-bar-item w3-button">Gömlek</a>
  <a href="#" class="w3-bar-item w3-button">Elbise</a>
  <a href="#" class="w3-bar-item w3-button">Etek</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

@* <div class="w3-container w3-teal">
  <h1>My Page</h1>
</div> *@


<div class="w3-container">
@RenderBody()
</div>

</div>
      
</body>
</html>