<!DOCTYPE html>
<html>
<title>document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item"></h3>
  <h3 class="w3-bar-item"></h3>
  

   <a class="w3-bar-item w3-button" asp-controller="User" asp-action="Login">Giriş yap</a>
<a class="w3-bar-item w3-button" asp-controller="User" asp-action="Create">Kayıt ol</a>

  <h3 class="w3-bar-item"></h3>
  <a href="/product" class="w3-bar-item w3-button">Ana Sayfa</a>
  <a href="/categories" class="w3-bar-item w3-button">Kategoriler</a>
  <a href="/basket" class="w3-bar-item w3-button">Sepete Git</a>

  
  @RenderSection("Kategoriler",false)


</div>

<!-- Page Content -->
<div style="margin-left:20%">

@* <div class="w3-container w3-teal">
  <h1>My Page</h1>
</div> *@


<div class="w3-container">
@RenderBody()
</div>

</div>
      
</body>
</html>